@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/*Загальне*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
/*Загальне*/

/*Навігаційне меню*/
header{
    display: flex;
    justify-content: space-between;
}
.navigation{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.navigation a{
    color:#03045E;
    font-weight: 500;
}
.navigation button{
    display: inline-flex;
    padding: 11px 35px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: #03045E;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 700;
    border: none;
}
/*Навігаційне меню*/

.top{
    background-color: #F7F8FD;
    height: 856px;
    padding: 30px 224px 0 224px;
}

/*Картка з картинкою*/
.card{
    background-color: #F7F8FD;
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 71px;
}
.card-text{
    width: 585px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 36px;
}
.card-caption{
    color: #03045E;
    font-family: 'Ubuntu', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 68px; /* 141.667% */
}
.card-paragraph{
    color: rgba(3, 4, 94, 0.50);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.card-text button{
    display: flex;
    width: 188px;
    height: 61px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #0098FF;
    border: none;
}
.card-text button>a{
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
}
.title {
    color: #03045E;
    font-family: 'Ubuntu', sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 36px;
}
/*Картка з картинкою*/

.search-bar{
    display: flex;
    width: 625px;
    padding: 18px 0 18px 20px;
    align-items: flex-start;
    border-radius: 5px;
    background: #F6F6F6;
    border: none;
    color: #03045E;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    opacity: 0.5;
}
.find-button{
    position: absolute;
    left: 466px;
    padding: 15px 38px 18px 38px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 0 5px 5px 0;
    background: #0098FF;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    border: none;
}
.search{
    display: flex;
    position: relative;
}
.line{
    width: 1px;
    height: 134px;
    opacity: 0.1;
    background: #03045E;
}
.domain{
    color: #0098FF;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: 700;
}
.price{
    width: 95px;
    color: #03045E;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    opacity: 0.3;
}
.domain-price-box{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 7px;
}
.domain-prices{
    display: flex;
    justify-content: space-between;
    gap: 116px;
}
.search-card{
    height: 134px;
    gap: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.domain-card{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 32px;
}
.section-two{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 150px 224px;
}
.service-card{
    width: 407px;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
}
.service-card svg{
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    fill: #F6F6F6;
}
.service-card>div{
    width: 100px;
    height: 100px;
    background-color: #F6F6F6;
}
.service-card>p:nth-child(2){
    color: #03045E;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: 700;
}
.service-card>p:last-child{
    color: #03045E;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    opacity: 0.5;
}
.our-services{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.our-services>div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}
.our-services>div div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.our-services>p {
    color: #03045E;
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.our-services{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
}
.section-three{
    padding: 150px 224px 150px 224px;
    background-color: rgba(246, 246, 246, 40%);
}
.section-four{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 150px 224px 150px 224px;
}
.section-four>p{
    margin-bottom: 60px;
    color: #03045E;
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    font-weight: 700;
}
.clients-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 407px;
    height: 263px;
    flex-shrink: 0;
    background: rgba(246, 246, 246, 40%);
}
.clients-card>p{
    margin-top: 50px;
    margin-bottom: 30px;
    width: 327px;
    color: #03045E;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    opacity: 0.5;
}
.name-place>p:first-child{
    color: #03045E;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 8px;
}
.name-place>p:last-child{
    color: #03045E;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    opacity: 0.5;
}
.section-four>div{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 40px;
}
.section-five{
    background: #0098FF;
    height: 315px;
    flex-shrink: 0;
    padding: 100px 224px;
}
.section-five>div>p:first-child{
    color: #FFF;
    font-family: 'Ubuntu', sans-serif;
    font-size: 60px;
    font-weight: 700;
}
.section-five>div>p:last-child{
    color: #FFF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
.section-five div{
    width: 297px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}
.section-five{
    display: flex;
    justify-content: center;
    gap: 30px;
}
footer{
    background-color: rgba(246, 246, 246, 40%);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 103px;
    height: 472px;
    padding: 100px 224px;
}
footer>div{
    width: 297px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.footer-text{
    margin-bottom: 14px;
    color: #03045E;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    opacity: 0.5;
}
.footer-caption{
    margin-bottom: 14px;
    color: #000;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 700;
}
.socials{
    margin-top: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}
footer>div:last-child>div:first-child{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}
footer img{
    margin-bottom: 24px;
}
address{
    display: flex;
    justify-content: space-between;
    color: #03045E;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    padding: 40px 224px;
}
address>p{
    width: 297px;
}
address>a{
    width: 203px;
}
.section-six{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    padding: 150px 224px;
}
.plan-cards{
    display: flex;
}
.section-six>p{
    color: #03045E;
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.plan-info{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.plan-info>div{
    padding: 10px 0 10px 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    border-bottom: 1px solid #F7F8FD;
}
.plan-info>div>span:first-child{
    color: #03045E;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    opacity: 0.5;
}
.plan-info>div>span:last-child{
    opacity: 0.5;
    color: #03045E;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.plan-caption>p:first-child{
    color: #0098FF;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 700;
}
.plan-caption>p:last-child{
    color: #03045E;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 32px;
    font-weight: 700;
}
.plan-caption{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 40px;
}
.plan-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
    background-color: #fff;
    width: 318px;
}
.section-six button{
    border: none;
    padding: 11px 35px;
    border-radius: 5px;
    background: #03045E;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 50px;
    margin-bottom: 50px;
}
.plan-info>div{
    width: 100%;
}
.section-six>div.plan-cards>div.plan-card:nth-child(2){
    background-color: #0098FF;
    .plan-caption>p{
        color: #FFF;
    }
    .plan-info>div>span{
        color: #FFF;
        opacity: 1;
    }
}