@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
}
.top{
    background-color: #F7F8FD;
    height: 856px;
    padding: 30px 223px;
}
.navigation{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.navigation a{
    text-decoration: none;
    color:#03045E;
    font-weight: 500;
}
.navigation button{
    display: inline-flex;
    padding: 11px 35px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: #03045E;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 700;
    border: none;
}
.card{
    background-color: #F7F8FD;
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 71px;
    padding-bottom: 200px;
}
.card-text{
    width: 585px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 36px;
}
.card-caption{
    color: #03045E;
    font-family: 'Ubuntu', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 68px; /* 141.667% */
}
.card-paragraph{
    color: rgba(3, 4, 94, 0.50);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.card-text button{
    display: flex;
    width: 188px;
    height: 61px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #0098FF;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
}
.search {
    height: 500px;
}